.hover-button{
    background-color: green;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin: 20px 30px;
    padding: 20px 20px;
}
.hover-button:hover{
    background-color: yellow;
}